langchain
faiss-cpu
tiktoken
sentence-transformers
matplotlib
datasets 
lightning
pandas 
llama-cpp-python
accelerate
bitsandbytes
peft
transformers
sentencepiece
tiktoken 
huggingface_hub
ctransformers
gradio
rich
gradio
langchain
unstructured
evaluate
langchain-cli